body 
{
  background-color: darkorange;
  text-align: center;
}

h1 
{
  color: darkblue;
  border-style: solid;
  border-color:white;  
  border-width:2px;
  padding: 10px;
}

#cartoon_name
{
  text-decoration: underline;
  font-size:40px;
}

a
{
  color: white;
  font-size: 20px;
  border-style: solid;
  border-color: darkblue;
  border-width: 2px;
  padding: 10px;
  border-radius: 20px;
}

p{
  color: darkred;
  word-spacing: 10px;
  font-variant: small-caps;
  font-size: 20px;
  font-family: Arial;
}

.more_about_cartoon{
    color: darkblue;
    font-size: 18px;
}